@model OtomasyonProjesi.Models.Classlar.SalesMovements

@{
    ViewBag.Title = "UpdateSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">

    @Html.HiddenFor(x => x.SalesId)
    @Html.Label("Ürün Adı")
    @Html.DropDownListFor(x => x.Productid, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Adı")
    @Html.DropDownListFor(x => x.Customerid, (List<SelectListItem>)ViewBag.v2, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Adı")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.v3, new { @class = "form-control" })
    <br />
    @Html.Label("Adet")
    @Html.TextBoxFor(x => x.Piece, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Toplam")
    @Html.TextBoxFor(x => x.Total, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Satış Düzenle</button>
</form>

