@using OtomasyonProjesi.Models.Classlar
@model List<Bills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Seri no</th>
        <th>Sıra no</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BillsSeriNo</td>
            <td>@item.BillsSiraNo</td>
            <td>@Convert.ToDateTime(item.BillsDate).ToString("dd/MM/yyyy")</td>
            <td>@item.Clock</td>
            <td>@item.Total</td>
            <td><a href="/Bills/UpdateBills/@item.BillsId" class="btn btn-outline-danger">Güncelle</a></td>
            <td><a href="/Bills/DetailBills/@item.BillsId" class="btn btn-outline-success">Detaylar</a></td>
            <td><a href="#" class="btn btn-outline-warning">Kalem</a></td>
        </tr>
    }
</table>
<a href="/Bills/AddBills/" class="btn btn-outline-primary">Fatura ekle</a>
<br />
<br />
<a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#Modal1">Popup Penceresi</a>


<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup  Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Seri No</th>
                            <th>Sıra No</th>
                            <th>Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BillsSeriNo</td>
                                <td>@item.BillsSiraNo</td>
                                <td>@item.Total</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button"  class="btn btn-outline-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
