@model OtomasyonProjesi.Models.Classlar.FaturaKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h6>Fatura Kalem Sayfası</h6>
<form method="post">
    @Html.Label("Aciklama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Miktar")
    @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
    <br />
    @Html.Label("Birim Fiyat")
    @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
    <br />
    @Html.Label("Tutar")
    @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
    <br />
    @Html.Label("Fattura Id")
    @Html.TextBoxFor(x => x.Billsid, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Fatura Ekle</button>
</form>

